@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cancun";
  src: local("Cancun"), url("/fonts/cancun.ttf") format("truetype");
}
/* #root {
  overflow-x: hidden;
} */
body {
  font-family: "Times New Roman", serif;
}
/* Define your custom keyframes for the blink animation */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* Apply the custom animation */
.animate-blink {
  animation: blink 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* modal css for gallery.jsx */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.animate-fadeOut {
  animation: fadeOut 0.3s ease-in-out;
}

.animate-zoomIn {
  animation: zoomIn 0.3s ease-out;
}
